@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Bold/Montserrat-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}
