@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    user-select: none;
    transition-duration: .4s;
}
body{
    background-color: #ff8362;

    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    padding-top: 10vh;
}
.black{
    background-color: #000;
}
input{
    background-color: inherit;
}
h1, h2, h3, h4{
    font-family: 'Open Sans';
    font-weight: 600;
}

button{
    background-color: none;
    border: none;

}



.calculator{
    display: inline-block;
    background-color: #fff;

    border-radius: 30px;
}
.black .calculator{
    background-color: #21242e;
}

.calculator__mode{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    background: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}
.calculator__mode-btn{
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}
.calculator__mode-btn--white{
    background-color: #d0d0d0;
}
.black .calculator__mode-btn--white{
    background-color: #e6e6e6;
}
.black .calculator__mode-btn--black{
    background-color: #d0d0d0;
}

.calculator__value{
    width: 100%;
    padding: 16px 10px;
    margin-bottom: 10px;
    
    border-radius: 5px;

    color: #000;
    font-size: 20px;
    text-align: right;
}
.black .calculator__value{
    color: #fff;
}
.calculator__value input{
    border: none;
    display: block;
    width: 100%;

    max-width: 300px;

    text-align: right;
}
.calculator__value-expression{
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.calculator__value-expression span{
    color: #ff8362;
    
}
.calculator__value-answer{
    font-size: 30px;

    color: #000;
}
.black .calculator__value-answer{
    color: #fff;
}

.calculator__btns{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 21px;
    row-gap: 21px;

    padding: 32px 31px 66px;
    border-radius: 25px 25px 30px 30px;
    background-color: #e6e6e6;
}   
.black .calculator__btns{
    background-color: #323944;
}
.calculator__btn{
    
    height: 52px;
    width: 52px;

    font-family:'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 52px;
    border-radius: 8px;
    cursor: pointer;

    text-align: center;
    transition-duration: .2s;

    background-color: inherit;

}
.calculator__btn:hover{
    background-color: #fff;
}
.black .calculator__btn:hover{
    background-color: #2a2f3b;
}
.calculator__btn--action{
    color: #ff8362;
}
.calculator__btn--number{
    color: #000;
}
.black .calculator__btn--number{
    color: #aeaeae;
}
.calculator__btn--clean-all{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator__btns-line{
    position: absolute;

    width: 130px;
    height: 3px;
    border-radius: 1px;
    background-color: #666;

    bottom: 20px;
    left: calc(50% - 65px);
}
.black .calculator__btns-line{
    background-color: #000;
}

